<section id="main-about">

    <div class="container" id="main-about-desc">
        <h2>درباره هیرکان </h2>
        <p>
        هیرکان ، یک پروژه متن باز و رایگان است که هدف آن کمک به حفظ ، نگهداری و البته جلوگیری از آسیب رسانی بیشتر به جنگل های هیرکانی است .
        <br>
        <blockquote>
        جنگل‌های مختلط کاسپینی هیرکانی (به انگلیسی: Caspian Hyrcanian mixed forests) یک زیست‌منطقه در زیست‌بوم جنگل‌های مختلطِ پهن‌برگِ حاشیهٔ جنوبی دریای کاسپین و کناره شمالی البرز به مساحت ۵۵٬۰۰۰ کیلومتر مربع (۲۱٬۰۰۰ مایل مربع) (٪۷ مساحت ایران) است که در کنارهٔ جنوبی و جنوب باختری دریای کاسپین در بخش‌هایی از ۵ استان شمالی ایران قرار گرفته و در دو کشورِ ایران و جمهوری آذربایجان است. این جنگل از منطقه پارک ملی هیرکان جمهوری آذربایجان آغاز و تا استان خراسان شمالی در ایران امتداد دارد و در ایران، مورد حفاظت مشترک سازمان حفاظت محیط زیست ایران و سازمان میراث فرهنگی است.
        <br> <span style="font-size:.8rem"> از ویکی‌پدیا، دانشنامهٔ آزاد</span>
        </blockquote>
        </p>

        <div class="row center-align">
            <a href="#" class="btn-flat grey-text text-lighten-4 btn-large waves-effect waves-light " id="about-more-btn">بیشتر بدانید ...</a>
        </div>

    </div>









    <div class="row">
        <div class="container">
            #
        </div>
    </div>

</section>