<section id="facts">
    
<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width slides/quotes -->
    <h5 class="center">حقایقی که شاید ندانید ...</h5>

    <article>
        <div class="mySlides">
            <q>
            این جنگل با قدمت ۲۵ تا ۵۰ میلیون سال (دوره پالئوژن) یکی از ارزشمندترین جنگل‌های جهان به‌شمار می‌آید و از آن به عنوان موزه طبیعی یاد می‌شود. در آن زمان بیشتر مناطق معتدل شمالی کره زمین را اینگونه جنگل‌ها پوشانده بودند. در عصر یخبندان، کواترنری این جنگل‌ها کوچکتر شدند اما با پایان عصر یخبندان دوباره گسترش یافتند
            </q>
            <p class="author">ویکیپدیا</p>
        </div>
    </article>

    <article>
        <div class="mySlides">
            <q>
                جنگل های شمال ایران ، تنها باقیمانده جنگل های هیرکانی است . 
                تاکنون بیش از
                <b> ۵۱ درصد </b> 
                آن از بین رفته و تنها
                <b> ۱۰ درصد </b>
                آن در حال حاضر مورد حفاظت قرار می‌گیرد.
            </q>
            <p class="author">ایسنا</p>
        </div>
    </article>

    <article>
        <div class="mySlides">
            <q>
            <b>    ۳۰ تا ۷۰ سال    </b>
                از عمر این جنگل ها باقی مانده ! جنگل هایی که به عقیده زمین شناسان ، دایناسور ها را دیده اند
            </q>
            <p class="author">هیرکان</p>
        </div>
    </article>


    <!-- Next/prev buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<!-- Dots/bullets/indicators -->
<div class="dot-container">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> 

</section>