<footer>
    <section id="main-footer">

        <div class="row">
            <div class="container">
                <div class="col s12 m6 l6">
                    <h4 class="center-align">ارتباط با ما</h4>
                    <p>
                    پست الکترونیک : <b>Hirkaan.ir@gmail.com
                    </b>
                    </p>
                </div>
                <div class="col s12 m6 l6">
                    <h4 class="center-align">مشارکت</h4>
                    <p>
                    <a class="btn grey lighten-3 grey-text text-darken-4"><i class="fa fa-github fa-2x"></i>&nbsp;صفحه پروژه در گیتهاب</a>
                    </p>
                </div>
            </div>
        </div>

    </section>
</footer>
