<header>

    {% include navbar.html %}

    <div class="clearfix"></div>

    <img src="assets/img/bg0.svg" class="sky img-cover">
    <img src="assets/img/bg1.svg" class="bg1">
    <img src="assets/img/bg2.svg" class="bg2">
    <img src="assets/img/bg3.svg" class="bg3">
    <img src="assets/img/bg4.svg" class="bg4">
    <img src="assets/img/bg5.svg" class="bg5">

    <img src="{{ site.url }}/assets/img/logo_img.svg" id="logo-mob" class="hide-on-large-only" alt="logo">

    <div id="sitetitle">
      <h1 class="center">
        {{ site.title }}
      </h1>
    </div>
    <a href="#articles">
    <div id="sitedesc">
      <h2 class="center">
        {{ site.description }}
      </h2>
      <img src="{{ site.url }}/assets/img/arrow_bottom.svg" class="center">
    </div>
    </a>
</header>
