<header>

    {% include navbar.html %}

    <div class="clearfix"></div>

    <picture>
      <source media="(orientation: landscape)" srcset="assets/img/bg_bg.svg">
      <source media="(orientation: portrait)" srcset="assets/img/bg_bg_mob.svg">
      <img src="assets/img/bg_bg.svg" class="bg-bg">
    </picture>
    <picture>
      <source media="(orientation: landscape)" srcset="assets/img/bg_tree.svg">
      <source media="(orientation: portrait)" srcset="assets/img/bg_sky_mob.svg">
      <img src="assets/img/bg_tree.svg" class="bg-tree">
    </picture>

    <img src="{{ site.url }}/assets/img/logo_img.svg" id="logo-mob" class="hide-on-large-only" alt="logo">

    <div id="sitetitle">
      <h1 class="center">
        {{ site.title }}
      </h1>
      <h2 class="center">
        {{ site.description }}
      </h2>
      <div class="content">
        <div class="owl-carousel">
          <p>
            جنگل های شمال ایران ، تنها باقیمانده جنگل های هیرکانی است . تاکنون بیش از ۵۱ درصد آن از بین رفته و تنها ۱۰ درصد آن در حال حاضر مورد حفاظت قرار می‌گیرد.
          </p>
          <p>
             ۳۰ تا ۷۰ سال از عمر این جنگل ها باقی مانده ! جنگل هایی که به عقیده زمین شناسان ، دایناسور ها را دیده اند 
          </p>
        </div>
        <a href="{{ site.url }}/articles" class="right btn-more"><span>بیشتر بخوانید </span></a>
      </div>
    </div>

</header>
