<section id="counter">

    <div class="row">
        <div class="container">
            <div class="col s12 m6 l3 center-align counter-box">
                <i class="fa fa-tree fa-4x"></i>
                <h4><b><span class="counter-inc">55</span></b></h4>
                <h5>
                    مساحت
                </h5>
            </div>
            <div class="col s12 m6 l3 center-align counter-box counter-box-border">
                <i class="fa fa-fire-extinguisher fa-4x"></i>
                <h4><b><span class="counter-inc">11</span></b></h4>
                <h5>
                    آتش
                </h5>
            </div>
            <div class="col s12 m6 l3 center-align counter-box counter-box-border">
                <i class="fa fa-area-chart fa-4x"></i>
                <h4><b><span class="counter-inc">9</span></b></h4>
                <h5>
                    رشد اراضی
                </h5>
            </div>
            <div class="col s12 m6 l3 center-align counter-box counter-box-border">
                <i class="fa fa-signing fa-4x"></i>
                <h4><b><span class="counter-inc">152</span></b></h4>
                <h5>
                    رشد مشارکت
                </h5>
            </div>
        </div>
    </div>


</section>