<section id="counter">
    <div class="parallax-container hide-on-med-and-down" id="main-counter-parallax">
        <div class="parallax"><img src="assets/img/054.jpg"></div>

        <div class="row">
            <div class="container">
                <div class="col s12 m6 l3 center-align counter-box">
                    <i class="fa fa-tree fa-4x"></i>
                    <h3><span class="counter-inc">55</span></h3>
                    <h4>
                        مساحت
                    </h4>
                </div>
                <div class="col s12 m6 l3 center-align counter-box counter-box-border">
                    <i class="fa fa-fire-extinguisher fa-4x"></i>
                    <h3><span class="counter-inc">11</span></h3>
                    <h4>
                        آتش
                    </h4>
                </div>
                <div class="col s12 m6 l3 center-align counter-box counter-box-border">
                    <i class="fa fa-area-chart fa-4x"></i>
                    <h3><span class="counter-inc">9</span></h3>
                    <h4>
                        رشد اراضی
                    </h4>
                </div>
                <div class="col s12 m6 l3 center-align counter-box counter-box-border">
                    <i class="fa fa-signing fa-4x"></i>
                    <h3><span class="counter-inc">152</span></h3>
                    <h4>
                        رشد مشارکت
                    </h4>
                </div>
            </div>
        </div>

    </div>

</section>