<div class="navbar-fixed">  
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-bars fa-2x"></i></a>
        <div class="container">
        
            <a href="{{ site.url }}/feed.xml" class="left"><i class="fa fa-rss fa-2x"></i></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="{{ site.url }}">صفحه اصلی</a></li>
                <li><a href="{{ site.url }}/articles">مقاله ها</a></li>
                <li><a href="{{ site.url }}/about">درباره</a></li>
            </ul>
        </div>
    </div>
  </nav>
</div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ site.url }}">صفحه اصلی</a></li>
    <li><a href="{{ site.url }}/articles">مقاله ها</a></li>
    <li><a href="{{ site.url }}/about">درباره</a></li>
  </ul>