<div class="navbar-fixed">  
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fa fa-bars fa-2x"></i></a>
        <div class="container">
        
            <a href="sass.html" class="left"><i class="fa fa-rss fa-2x"></i></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html">صفحه اصلی</a></li>
                <li><a href="badges.html">درباره</a></li>
                <li><a href="collapsible.html">مقالات</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </div>
  </nav>
</div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">صفحه اصلی</a></li>
    <li><a href="badges.html">درباره</a></li>
    <li><a href="collapsible.html">مقالات</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>